# Flutter/Dart/Pub
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Build
/build/

# Firebase local files
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# VS Code / IntelliJ
.idea/
.vscode/

# Project files to ignore
prompt.md
CLAUDE.md
backup_*.json
.claude
ai_rules.md
functions/serviceAccountKey.json

.gcloud-cli/
