# Flutter/Dart/Pub
.dart_tool/
.packages
 .flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Build
/build/
.dart_tool/

# Firebase local files
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# VS Code / IntelliJ
.idea/
.vscode/
